.progress-bar {
    -fx-background-color: #e0e0e0;
}

.progress-bar .track {
    -fx-background-color: #a0a0a0;
}

.progress-bar .bar {
    -fx-background-color: black;
}

.button_pause {
    -fx-background-color: #258fbb;
}

.button_pause:hover {
    -fx-background-color: #258fa4;
}

.button_previous, .button_next, .button_volume, .button_playlist {
    -fx-background-color:  transparent;
    -fx-border-color: #258fa4;
}

.button_previous:hover, .button_next:hover, .button_volume:hover, .button_playlist:hover {
    -fx-background-color: #258fa4;
}

// Pour les lignes paires
.list-cell {
    -fx-background-color: #B0BEC5;
    -fx-pref-height: 40;
    -fx-pref-width: 100;
    -fx-font-size: 13;
}

// Pour les lignes impaires
.list-cell:even {
    -fx-background-color: #CFD8DC;
}

.list-cell:selected {
    -fx-background-color: #263238;
    -fx-text-fill: white;
}

.list-cell:hover {
    -fx-background-color: #37474F;
    -fx-text-fill: white;
}

.slider {
    -fx-background-color: #e0e0e0;
}

.slider .track {
    -fx-background-color: #a0a0a0;
}

.slider .track .fill {
    -fx-background-color: #2e8b57;
}

.slider .thumb {
    -fx-background-color: #4682b4;
}

.slider .thumb .thumb-text {
    -fx-fill: white;
}
